* {
    padding: 0;
    margin: 0;
    list-style: none;

}

body {
    background-color: #F2C9C9;
}

.logoWeb {
    width: 3em;
    height: auto
}

.title {
    color: #ffbba8;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    font-size: 32px
}

.nav-item {
    border-radius: 25%;
    background-color: #F2B3B3;
    font-size: 28px;


}

.nav-link {
    color: #eb5544;
}

li {
    margin: auto 1px
}

.title {
    margin-left: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid rgb(0, 0, 0)
}
div{
    object-fit: cover;
    border-radius: 10px;
}

/*grid*/
.grid-container {
    display: grid;
    grid-template-columns: 50% 50% ;
    gap: 10px;
    background-color: #F2C9C9;
    padding: 10px;
}
.active{
    overflow: hidden;
}
.grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 0;
    font-size: 30px;
}
.grid-container div {
    display:none;
}
.grid-container div.active {
    display:initial;
}
/*grid////////////////////////////*/
div img {
    margin-left: 20px;
    max-width: 300px;

}

div h3 {
    margin-left: 20px;
}

/*boton*/
div a {
    margin: auto 10px;
    float: right;
    text-decoration: none;
    color: black;
    background-color: #F2B3B3;
    border: 1px solid #000000;
}

a:hover {
    color: white !important;
}

/*////////////boton///////////////////*/
/*buscar//////////////////////*/
.text {
    width: 35%;
    margin: 0 20px;
    float: right;
    color: black;
    background-color: white;
    border-radius: 10px;
    height: 40px;
    width: 25%;
}

.demo a {
    background-color: rgb(131, 125, 125);
    padding: 10px;
}

.demo a:hover {
    color: rgb(102, 47, 47);
}
/*boton flotante*/
#top {
    position: fixed;
    bottom: 15px;
    right: 15px
}
#flecha-hacia-arriba {
    max-width: 2em;
    max-height: 2em;
}
.fa-arrow-up{
    font-size:32px;
    color: rgb(143, 88, 97);

}
/*footer/////////////////*/
#banner-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0 3% 0;
}
.footer-second{
    border-top: 1px solid;
    margin: 0;
}
.footer-second p,.footer-second a{
    
color:#fff;
font-size:100%;
line-height:155%;
text-align: center;}
h5{
    margin-left:20px;
    background-color: #F2B3B3;
    display: inline-flex
}
footer {
    background: #2c3e5086;
    width: 100%;
    overflow: auto;
}

.icon-text {
    width: 100%;
    margin: 0 auto
}

.icon-text-icon {
    float: left;
    width: 20%;
    padding: 4%;

}

input {
    all: unset;
}

.icon-text-text {
    float: left;
    width: 60%;
    padding: 4% 4% 2% 0;

}

.footer-nav {
    text-align: left;

}

.footer-nav a {
    font-size: 160%;
    color: #c3d7df;
    font-weight: 300;
}

.footer-nav a:hover {

    color: #f5f5f5;
    ;
}

.social {
    text-align: center;
}

.social li {
    display: inline;
}

.social i {
    font-size: 420%;
    margin: 1%;
    padding: 1%;

}

.logo_A:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

li a {
    background-color: rgba(252, 252, 252, 0);
    border: none;
}

@media (max-width: 600px) {
    
    input{
        
    }.text {
        width: 100%;
        float: none;
        
        margin:  auto;

    }
    /*grid*/
    .grid-container {
        display: grid;
        grid-template-columns: 100%;
        gap: 10px;
        background-color: #F2C9C9;
        padding: 10px;
    }

    .grid-container>div {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px 0;
        font-size: 30px;
    }

    /*grid////////////////////////////*/
    .nav-link {
        font-size: 23px;
    }

    .icon-text-icon {
        margin-left: 20px;
        font-size: 11px;
        text-align: left
    }
}